apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: facesinq
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/dewgenenny/facesinq.git # Update with your actual repo URL
    targetRevision: HEAD
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: facesinq # Update if deploying to a different namespace
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
